<ion-view>

    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">{{ titre }}</h1>
    </ion-header-bar>

    <ion-content class="box">
        <ion-list>
            <ion-item href="/#/listeS1">Promo | 2018-2020</ion-item>
            <br/>
            <ion-item href="/#/listeS3">Promo | 2017-2019</ion-item>
        </ion-list>
    </ion-content>

</ion-view>